.forgot-password-page {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    &-sended {
        color: green;
    }

    &-sumbit-button {
        margin-top: 24px;
    }
}