.button-transparent {
    color: #000;
    background-color: transparent;  

    border: none;

    transition: color .7s linear;

    &[dark-mode=true] {
        color: #fff;
    }

    &:hover {
        background-color: #0002;
    }

    &:active {
        background-color: #0001;
    }
}