.button-transparent {
	color: #000;
	background-color: transparent;

	border: none;
	border-radius: 4px;
	text-decoration: none;

	transition: 0.1s linear;
	transition-property: color background-color;

	&[dark-mode="true"] {
		color: #fff;

		&:hover {
			background-color: #fff6;
		}
	}

	&:hover {
		background-color: #0002;
	}

	&:disabled {
		background-color: gray;
	}

	&:active {
		background-color: #0001;
	}
}
