.profile-page {
    width: 1440px;
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    box-sizing: border-box;

    & &-panel {
        max-width: 900px;

        display: grid;

        grid-template-rows: min-content min-content auto;
        grid-template-columns: 1fr;
    }

    &-main-content {
        padding: 25px;
    }
}
