.login-page {
	flex: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	&-form-field {
		margin-top: 15px;
	}

	&-forgot-label {
		margin: 5px 0 15px;
		text-align: right;

		text-decoration: none;
		color: black;
	}

	&-link {
		color: #349a89;

		& * {
			text-decoration: none;
			text-transform: uppercase;
			color: inherit;
		}
	}
}
