.combobox-option {
	padding: 8px;
	width: 100%;

	background-color: #f9fafb;
	color: #505050;

	border: 1px solid #dedee0;

	display: grid;
	grid-template-columns: 18px auto 15px;
	grid-column-gap: 10px;

	appearance: none;
	outline: none;

	border-radius: 5px;
	box-sizing: border-box;

	cursor: pointer;

	user-select: none;

	&:hover {
		background-color: #e8e9ea;
	}

	&-icon {
		height: 18px;
		width: 18px;
	}

	&-text {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
