.user-panel {
	width: 205px;

	position: absolute;
	right: 40px;
	top: calc(100% + 5px);

	display: grid;
	grid-template-rows: auto repeat(2, 43px);

	background-color: #fff;

	border-radius: 4px;

	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

	z-index: 1500;

	&-upper {
		padding: 9px 16px 0;
		margin-bottom: 6px;
		display: grid;
		grid-template-columns: 48px auto;
		grid-template-rows: 48px;
		grid-column-gap: 13px;

		&-info {
			display: flex;
			flex-direction: column;
			font-size: 10pt;

			overflow: hidden;

			&-name {
				overflow: hidden auto;
				font-weight: bold;
				font-family: Helvetica;
			}

			&-email {
				color: #979797;
			}

			&-profile-button {
				margin-top: 6px;

				color: #349a89;
				background-color: transparent;
				border: none;

				font-size: 10px;
				font-weight: bold;

				text-align: left;
				text-decoration: none;
			}
		}
	}

	&-edit-profile-button {
		padding: 14px 16px 11px;

		color: #349a89;
		border-bottom: 1px solid #e4e4e4;

		font-size: 14px;

		text-align: left;
		text-transform: uppercase;
	}

	&-logout-button {
		padding: 14px 16px 11px;

		font-size: 14px;

		color: #349a89;
		text-align: left;
		text-transform: uppercase;
	}
}
