.header {
    &-wrapper {
        display: flex;
        justify-content: center;

        transition: all 0.7s;

        position: relative;
        &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;

            transition: all 0.7s;

            background: linear-gradient(180deg, #090810 0%, #171236 100%);
            opacity: 0;

            z-index: -1;
        }

        &[dark-mode]::before {
            opacity: 1;
        }
    }

    padding: 18px 10px;

    max-width: 1140px;

    flex: 1;

    display: grid;
    grid-template-columns: 150px auto 18px 131px 100px 20px;
    grid-column-gap: 15px;
    grid-row-gap: 22px;
    align-items: center;

    &__apiko-logo {
        cursor: pointer;
    }

    & &-sell-button {
        font-family: Helvetica;
        line-height: 31px;
        height: 31px;

        font-size: 14px;

        text-transform: uppercase;
        padding: 0 48px;

        color: white;
    }

    & &-login-button {
        padding: 0;

        height: 31px;

        font-size: 14px;
        text-transform: uppercase;

        & a {
            color: black;
            text-decoration: none;

            transition: all 0.7s;
        }

        &[dark-mode] a {
            color: white;
        }
    }

    &-profile {
        height: 100%;

        position: relative;

        display: flex;
        justify-content: center;
    }

    &-heart {
        & > path {
            fill: #2e2e2e;
            transition: all 0.7s;
        }

        &[dark-mode] > path {
            fill: #fff;
        }
    }

    &-minor-panel {
        margin: 0 auto;
        max-width: 840px;
        width: 100%;
        grid-column: 1 / span 6;
    }
}
