.postbox-icon {
    position: relative;
    &-circle {
        height: 10px;
        width: 10px;

        position: absolute;

        right: -5px;
        top: -5px;

        background-color: red;

        border-radius: 50%;
    }
}
