.button-default {
    padding: 20px 50px;

    border: none;
    color: #fff;
    background-color: #349a89;

    border-radius: 5px;

    font-size: 14px;

    &:hover {
        background-color: red;
    }

    &:active {
        background-color: #f2b;
    }

    &[disabled] {
        background-color: gray;
    }
}
