.products-content {
    &-container {
        display: grid;
        grid-template-columns: repeat(4, 210px);
        grid-gap: 17px 6px;
    }

    &-loading {
        width: 100%;
        height: 230px;
        
        position: relative;

        & > * {
            padding: 20px;
        }
    }
}