.snackbar-notification {
	margin: 10px 0;
	padding: 10px;

	border: 3px solid #349a89;
	border-radius: 5px;

	font-size: 1.3em;

	animation: notification-show 0.3s;

	&[type="info"] {
		color: #ff7a00;
		background-color: #34cfbe;
	}

	&[type="warning"] {
		color: #600cac;
		background-color: #ffcf00ee;
	}

	&[type="error"] {
		color: #6be400;
		background-color: #e20048ee;
	}
}

@keyframes notification-show {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
