.label {
	display: grid;
	grid-template-rows: min-content auto;

	&-solo-value {
		&[error="true"] {
			color: red;
		}
	}

	&-values {
		margin-bottom: 5px;

		display: flex;

		&-value {
			text-transform: uppercase;
		}

		&-error-value {
			margin-left: 10px;
			color: red;
		}
	}
}
