.new-password-panel {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    &-title {
        margin-bottom: 15px;
    }

    &-leave-devices-checkbox {
        margin: 10px 0;
    }

    &-again-label {
        margin: 10px 0;
    }
}