.contact-selleer-dialog {
    height: 90%;
    max-height: 700px;
    max-width: 820px;
    flex: 1;
    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    &-title {
        align-self: center;

        font-size: 22px;
    }

    &-subject {
        font-size: 24px;
    }

    &-user {
        margin-bottom: 16px;
        display: grid;
        grid-template-columns: 72px auto;
        grid-template-rows: 10fr 7fr;
        grid-column-gap: 16px;
        &-icon {
            width: 72px;
            height: 72px;

            grid-row: 1 / span 2;
        }
        &-name {
            display: flex;
            font-size: 24px;
            align-items: flex-end;
        }
        &-location {
            font-size: 15px;

            color: #13131388;
        }
    }

    &-message {
        margin-bottom: 24px;

        flex: 1;

        &-text-field {
        }
    }

    &-submit {
        width: 370px;
        align-self: center;
    }

    &-chat {
    }
}
