.login-container {
    width: 425px;

    position: relative;

    display: grid;
    grid-template-rows: auto 75px;
    grid-row-gap: 20px;
}

@keyframes rotating {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}