.user-icon {
    height: 48px;
    width: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border: none;

    & > span {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        color: #130f02A9;

        border-radius: 50%;

        font-size: 18px;

        cursor: pointer;
        user-select: none;
    }

    & > img {
        max-height: 100%;

        border-radius: 50%;
        overflow: hidden;
    }
}