.home-page {
	padding: 20px 0 0;

	max-width: calc(1440px - 600px) !important;

	flex: 1;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: min-content auto min-content;
	grid-row-gap: 15px;

	box-sizing: border-box;

	&-products-container {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 780px) {
	.home-page {
		&-products-container {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}

@media (min-width: 1024px) {
	.home-page {
		&-products-container {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}
}
