.cart-products-list-item {
	flex: 1;

	display: grid;
	grid-template-columns: min-content auto;
	grid-column-gap: 10px;

	&-image {
		width: 280px;
		overflow: hidden;
		& > img {
			max-width: 100%;
		}
	}

	&-info {
		display: flex;
		flex-direction: column;

		&-title {
			margin-bottom: 10px;
			font-size: 30px;
		}

		&-headers {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			justify-items: center;
			align-items: center;

			font-size: 20px;

			&-price {
			}

			&-count {
			}
		}

		&-price-container {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			justify-items: center;
			align-items: center;

			font-weight: bold;

			&-price {
			}

			&-counter {
				&-button {
					width: 40px;
					margin: 0 5px;
					padding: 5px;
					background-color: transparent;
					border: 1px solid black;
					border-radius: 4px;

					&:hover {
						background-color: #bbb4;
					}

					&:active {
						background-color: #bbb9;
					}
				}
			}
		}
	}
}
